@page

<!-- Resume
            ============================================= -->
<section id="resume" class="section bg-dark-1">
    <div class="container">
        <!-- Heading -->
        <div class="position-relative d-flex text-center mb-5">
            <h2 class="text-24 text-muted opacity-1 text-uppercase fw-600 w-100 mb-0">Summary</h2>
            <p class="text-9 text-white fw-600 position-absolute w-100 align-self-center lh-base mb-0">Resume<span class="heading-separator-line border-bottom border-3 border-primary d-block mx-auto"></span> </p>
        </div>
        <!-- Heading end-->

        <div class="row gx-5">
            <!-- My Education -->
            <div class="col-md-6">
                <h2 class="text-6 text-white fw-600 mb-4">My Education</h2>
                <div class="bg-dark rounded p-4 mb-4">
                    <p class="badge bg-danger text-2 fw-400">2000 - 2004</p>
                    <h3 class="text-5 text-white">Computer Science</h3>
                    <p class="text-primary">International University</p>
                    <p class="text-white-50 mb-0">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
                </div>
                <div class="bg-dark rounded p-4 mb-4">
                    <p class="badge bg-danger text-2 fw-400">2005 - 2008</p>
                    <h3 class="text-5 text-white">Bachelor Degree</h3>
                    <p class="text-primary">University of California</p>
                    <p class="text-white-50 mb-0">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
                </div>
                <div class="bg-dark rounded p-4 mb-4">
                    <p class="badge bg-danger text-2 fw-400">2009 - 2012</p>
                    <h3 class="text-5 text-white">Master Degree</h3>
                    <p class="text-primary">Harvard University</p>
                    <p class="text-white-50 mb-0">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
                </div>
            </div>

            <!-- My Experience -->
            <div class="col-md-6">
                <h2 class="text-6 text-white fw-600 mb-4">My Experience</h2>
                <div class="bg-dark rounded p-4 mb-4">
                    <p class="badge bg-danger text-2 fw-400">2012 - 2013</p>
                    <h3 class="text-5 text-white">Jr. UI UX Designer</h3>
                    <p class="text-primary">Themeforest</p>
                    <p class="text-white-50 mb-0">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
                </div>
                <div class="bg-dark rounded p-4 mb-4">
                    <p class="badge bg-danger text-2 fw-400">2014 - 2016</p>
                    <h3 class="text-5 text-white">Jr. Product Designer</h3>
                    <p class="text-primary">Dribbble</p>
                    <p class="text-white-50 mb-0">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
                </div>
                <div class="bg-dark rounded p-4 mb-4">
                    <p class="badge bg-danger text-2 fw-400">2017 - 2019</p>
                    <h3 class="text-5 text-white">Product Designer</h3>
                    <p class="text-primary">Adobe</p>
                    <p class="text-white-50 mb-0">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
                </div>
            </div>
        </div>

        <div class="text-center mt-5"><a href="#" class="btn btn-outline-secondary rounded-pill shadow-none">Download CV <span class="ms-1"><i class="fas fa-download"></i></span></a></div>
    </div>
</section>
<!-- Resume end -->

@await Html.PartialAsync("_Contact");