/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


.green {
    color: rgb(133,160,50) !important; /*important required to overwrite bootstrap*/
    border-color: rgb(133,160,50) !important; /*important required to overwrite bootstrap*/
}

.blue {
    color: rgb(53,120,178); /*important required to overwrite bootstrap*/
    border-color: rgb(53,120,178) !important; /*important required to overwrite bootstrap*/
}

.yellow {
    color: rgb(227,174,27) !important; /*important required to overwrite bootstrap*/
    border-color: rgb(227,174,27) !important; /*important required to overwrite bootstrap*/
}

.bg-green {
    background-color: rgb(133,160,50) !important; /*important required to overwrite bootstrap*/
}

.bg-red {
    background-color: rgb(231,2,35) !important; /*important required to overwrite bootstrap*/
}

.bg-blue {
    background-color: rgb(53,120,178) !important; /*important required to overwrite bootstrap*/
}

.bg-yellow {
    background-color: rgb(227,174,27) !important; /*important required to overwrite bootstrap*/
}


/*Buttons*/

.btn-outline:not(:hover) {
    color: inherit;
    background-color: transparent !important; /*important required to overwrite bootstrap*/
}

.btn:not(:hover) {
    color: white;
    border-color: transparent;
}

@media (pointer: fine) {
    .btn-outline:hover {
        color: white !important;
        border-color: transparent;
    }

    .btn:hover {
        border-color: transparent;
    }
}

#hire-me {
    margin-top: 50px !important; /*Important required to overwrite important in utilities*/
}




.bg-dark {
    background-color: rgb(20,32,41) !important; /*important required to overwrite bootstrap*/
}



.nav-link.blue.active {
    color: rgb(53,120,178) !important; /*important required to overwrite bootstrap*/
}

a.nav-link.blue.active::after {
    background-color: rgb(53,120,178) !important; /*important required to overwrite bootstrap*/
}

/*=== Title Icons ===*/

.d-flex {
    margin-bottom: 0px !important;
}



/*=== Developer Icons ===*/
.developer-icons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    row-gap: 5px;
}

.devloper-icon-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

img.developer-icon {
    height: 3em !important;
}

#home .developer-icons-container {
    margin-top: 20px;
    margin-bottom: 20px;
}





.project-list-indent {
    padding-left: 6em;
}


/*=== Portfolio ===*/

.portfolio {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.portfolio-grid {
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3,max-content);
    grid-template-areas:
        'whaddonshow whaddonshow development'
        'care workflow development';
    grid-gap: 20px;
}

@media (max-width: 1220px) {
    .portfolio-grid {
        grid-template-rows: repeat(3,max-content);
        grid-template-columns: repeat(2,auto);
        grid-template-areas:
            'whaddonshow whaddonshow'
            'care development'
            'workflow development'
    }
}

@media (max-width: 920px) {
    .portfolio-grid {
        grid-template-rows: repeat(4,max-content);
        grid-template-columns: 1fr;
        grid-template-areas:
            'whaddonshow'
            'care'
            'workflow'
            'development'
    }
}

.project {
    object-fit: contain;
}

.project-title {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0.5em;
    text-align: right;
    background: radial-gradient(at 100% 20%, rgba(0,0,0,0.5), 50%, transparent,90%, transparent 100%);
    font-size: 1em;
}

.project-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-img {
    width: 100%;
    height: 100%;
}

.see-more-link {
    position: absolute;
    display: block;
    opacity: 0;
pointer-events: none;
    bottom: 10px;
    right: 10px;
    color: white;
    font-weight: bold;
    z-index: 10;
    background-color: black;
    padding: 5px 10px;
}



@media (pointer: fine) {
    .project-box:hover .see-more-link {
        opacity: 1;
        pointer-events: all;
    }
}

@media not (pointer: fine) {
    .touched .see-more-link.show {
        opacity: 1;
        pointer-events: all;
    }
}






.see-it-in-action-text {
    position: absolute;
    display: block;
    bottom: 10px;
    right: 10px;
    color: black;
    font-weight: bold;
    z-index: 10;
    background-color: rgb(227,174,27);
    padding: 5px 10px;
}


.learn-more.mobile-device {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5em;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.project-box:hover .learn-more{
    color:transparent;
}

.touched .learn-more{
color:transparent;
}

/*@media not all and (pointer: fine) {
    .project-overlay{
        visibility: hidden;
    }
}*/

#whaddon-show {
    width: 740px;
    height: 430px;
    grid-area: whaddonshow;
    overflow: hidden;
}

@media (max-width: 920px) {
    #whaddon-show {
        width: 100%;
        min-height: 260px;
    }

        #whaddon-show .project-img {
            width: 740px;
            height: 436px;
        }
}

#care {
    width: 360px;
    height: 270px;
    grid-area: care;
    overflow: hidden;
    min-height: 270px;
}

@media (max-width: 920px) {
    #care {
        width: 100%;
        height: auto;
    }
}

#development {
    width: 360px;
    height: 720px;
    grid-area: development;
    overflow: hidden;
}

@media (max-width: 1220px) {
    #development {
        width: 360px;
        height: 560px;
    }
}

@media(max-width: 920px) {
    #development {
        width: 100%;
        height: auto;
    }
}

#workflow {
    width: 360px;
    height: 270px;
    grid-area: workflow;
    overflow: hidden;
    min-height: 270px;
}

@media (max-width: 920px) {
    #workflow {
        width: 100%;
        height: auto;
    }
}


.testimonial-avatar {
    width: 80px;
    height: 80px;
}

.featured-box-icon {
    width: 50px;
    height: 50px;
}

.clickable {
    cursor: pointer;
}





#portfolio-modal {
    display: block;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    overflow: auto;
    pointer-events: all;
}

    #portfolio-modal.closed {
        opacity: 0;
        pointer-events: none;
    }


.project-detail-container {
    display: none;
    position: relative;
    max-width: 90%;
    max-height: 80vh;
    padding: 2rem;
    background-color: white;
    margin-top: 85px;
    margin-bottom: 85px;
}

    .project-detail-container.show {
        display: flex;
        flex-direction: column;
    }

@media (max-width: 768px) {
    .project-detail-container {
        max-width: 95%;
        padding: 3px;
    }
}

.project-detail-header {
    flex: auto;
    border-color: rgb(53,120,178);
    border-bottom-style: solid;
}

    .project-detail-header h3 {
        margin: 0;
    }

.close-modal-on-click {
    align-self: flex-end;
    cursor: pointer;
}

    .close-modal-on-click h5 {
        margin: 0;
    }

.project-detail-title h2 {
    margin: 0;
}





.project-detail-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: stretch;
    overflow: auto;
}

    .project-detail-content img {
        flex: auto;
    }


.stretched-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-detail-box {
    border-color: gainsboro;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    background-color: white;
    margin: 10px;
}

.project-detail-description {
    flex: 1;
    padding: 10px 10px 10px 0px;
    min-width: 350px;
    max-width: 500px;
}

    .project-detail-description h5 {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .project-detail-description p {
        margin: 0;
        font-size: 0.9rem;
    }

@media (max-width: 500px) {
    .project-detail-description {
        padding: 10px 0px 10px 0px;
        min-width: 200px;
    }
}



#devapp-board-report {
    width: 300px;
    height: 450px;
}

#devapp-summary {
    width: 300px;
    height: 450px;
}

#chester-snapshots {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

#chester-rota {
    max-width: 300px;
    height: auto;
}

#chester-dashboard {
    max-width: 300px;
    height: auto;
}


#workflow-snapshots {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

#workflow-dashboard {
    width: 350px;
    height: 250px;
}

#workflow-diagram-tool {
    width: 350px;
    height: 250px;
}


.brands-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.number-box {
    background-color: rgb(20,32,41);
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
}

    .number-box h4 {
        color: white;
    }

    .number-box p {
        color: white;
    }

.featured-box.number-box {
}
