
@model MyPortfolio.Pages.Shared._DeveloperIconsModel
@{
}



    <div class="developer-icons-container">
        @foreach(var iconGroup in Model.GroupedIcons)
        {
            <div class="developer-icon-group">
                
                @foreach(string icon in iconGroup)
                {
                    <img class="developer-icon" src= @($"images/icons/{@icon}.png") alt=@($"{icon} icon.png") />
                }
                          
            </div>
        }
    </div>

