
@model MyPortfolio.Pages.Shared._DeveloperIconsModel
@{
}

<div class="container">

    <div class="row developer-icons">
        @foreach(var iconGroup in Model.GroupedIcons)
        {
            <div class="col-auto">
                
                @foreach(string icon in iconGroup)
                {
                    <img class="code-icon" src= @($"images/icons/{@icon}.png") alt=@($"{icon} icon.png") />
                }
                          
            </div>
        }
    </div>

</div>