
@model MyPortfolio.Pages.Shared._ProjectDetailsHeaderModel
@{

}
<div class="close-modal-on-click">
    <div class="close-modal-on-click-icon"><h5><i class="fa fa-times"></i></h5></div>
</div>
<div class="project-detail-header">
    <h3 class="project-detail-title">@Model.Title</h3>
    <div class="project-detail-sub-title">@Model.SubTitle.</div>
</div>