
@model MyPortfolio.Pages.Shared._SkillBoxModel
@{
}
<div class="featured-box style-3 mb-5">
    <div class="featured-box-icon text-primary bg-dark-1 shadow-sm rounded"> <i class="fas fa-@Model.FontAwesomeIcon"></i> </div>
    <h3 class="text-white">@Model.Title</h3>
    <p class="text-white-50 mb-0">@Model.Text</p>
</div>