
@model MyPortfolio.Pages.Shared._SkillBoxModel
@{
}
<div class="featured-box style-3 mb-5">
    <div class="featured-box-icon text-primary bg-dark shadow-sm rounded blue"> <i class="fas fa-@Model.FontAwesomeIcon"></i> </div>
    <h3 class="">@Model.Title</h3>
    <p class=" mb-0">@Model.Text</p>
</div>