@using MyPortfolio.Pages.Shared;
@{

    var now = DateTime.UtcNow;
    var started = new DateTime(2023, 03, 01);

    var retrainingTime = (now.Year - started.Year) * 12 + now.Month - started.Month;
}

<!-- About
============================================= -->
<section id="about" class="section bg-light-1">
    <div class="container">
        <!-- Heading -->
        @await Html.PartialAsync("_SectionHeading",new _SectionHeadingModel("About Me","Know Me More.","blue","light"))
        <!-- Heading end-->

      
            <div class="text-center text-lg-start">
                <h2 class="text-7  fw-600 mb-3">I'm <span class="blue">Mark Carter,</span> a self-taught developer of IT solutions to business.</h2>
                <p >I have <strong>10 years' experience</strong> in scoping, designing, coding, and managing the implementation of software applications using <strong >SQL</strong>, <strong >C#</strong>, <strong >.Net</strong> and <strong >React</strong> to solve business problems.</p>
            <p>Due to success in establishing and using these systems I was promoted several times into more senior and operational roles finally ending up as a Chief Operating Officer. However, having paid off the mortgage, got the T-shirt and grown tired of the politics in these positions I am now <strong>looking to return to the work that I found most intellectually stimulating and fun.</strong></p>
                <p>I've spent the last year getting back up to speed and improving my skills in modern web technologies to produce and deploy the <a href="https://www.thewhaddonshow.org/app/demo" target="_blank"><strong class="blue">The Whaddon Show App</strong></a>. This a <strong>progressive web app</strong> built using a <strong>React</strong> front end with a <strong>public .Net Api</strong>. The app is currently being used by 30 people to collaboratively write scripts in realtime, and to cast and rehearse a long standing variety show. It demonstrates my full range of skills.</p>
            </div>


        <a id="download-cv" href="/files/cv.pdf" download="MarkCarterCV.pdf" class="blue bg-blue btn  rounded-pill  smooth-scroll mt-2">Download CV</a>
  
        <div class="brands-grid separator-border separator-border-light mt-5">
           
                <div class=" number-box">
                    @await Html.PartialAsync("_NumberBox",new _NumberBoxModel("10+","years experience"))
                </div>
                <div class=" number-box ">
                    <div class="featured-box text-center ">
                        <h4 class="text-12  mb-0"><span>1000</span>+</h4>
                        <p class=" mb-0">internal users</p>
                    </div>
                </div>
                <div class=" number-box">
                    <div class="featured-box text-center ">
                        <h4 class="text-12  mb-0"><span >5</span></h4>
                        <p class=" mb-0">major applications created & established for more than 7 years</p>
                     
                    </div>
                </div>
                <div class=" number-box">
                    <div class="featured-box text-center">
                        <h4 class="text-12  mb-0"><span>2</span></h4>
                        <p class=" mb-0">large legacy systems improved and re-established</p>
                    
                    </div>
                </div>

           
        </div>
    </div>
</section>
<!-- About end -->
<script>
   
</script>