@using MyPortfolio.Pages.Shared;
@model MyPortfolio.Pages.Models.Contact;
@{
}
<!-- Contact Me
           ============================================= -->
<section id="contact" class="section bg-dark-2">
    <div class="container">
        @await Html.PartialAsync("_SectionHeading",new _SectionHeadingModel("Contact","Get in Touch","blue","dark"));
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">

                <div class="row justify-content-center">
                    <div class="col">
                        <h2 class="mb-3 text-5 text-white text-uppercase text-center text-md-start">Send me a note</h2>
                    </div>
                </div>
                <div class="row justify-content-center">

                    <form id="contact-form" class="form-dark" method="post" data-modalSuffix="confirmation-message">
                        <div class="row justify-content-center g-3" >
                            <div class="col-lg mb-3">
                                <input asp-for="Name" class="form-control" required placeholder="Name">
                            </div>
                            <div class="col-lg mb-3">
                                <input asp-for="Email" class="form-control" required placeholder="Email">
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col">
                                <textarea id="contact_message" asp-for="Message" class="form-control" rows="5" required placeholder="What do you want to know?........"></textarea>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col">
                                <p class="text-center mt-4 mb-0">
                                    <button id="submit" class=" bg-blue btn rounded-pill  smooth-scroll mt-2">Send Message</button>
                                    @* <button id="submit" class="btn-outline blue btn-primary rounded-pill d-inline-flex" type="submit" >Send Message</button> *@
                                </p>
                            </div>
                        </div>
                    </form>

                </div>

             <div class="row justify-content-center">
                    <div class="col">
                        <h2 class="mb-3 text-5 text-white text-uppercase">Follow Me</h2>
                       @await Html.PartialAsync("_SocialIcons")
                    </div>

                </div>

            </div>       
                
        </div>
        
    </div>
    <!-- Modal -->

    @await Html.PartialAsync("_ModalSimple",new _ModalSimpleModel("confirmation-message","Confirmation Message","Message Gets Replaced"))    

</section>
<!-- Contact Me end -->


@*script to add to custom js :
-------------------------
        document.forms[0].onsubmit = (event) => {
            let formData = new FormData(document.forms[0]);
            fetch('', {
                method: 'post',
                body: new URLSearchParams(formData)
            })
                .then(() => {
                    alert('Posted using Fetch');
                });
            return false;
        };*@
   



