@using MyPortfolio.Pages.Shared;
@model MyPortfolio.Pages.Shared._ContactModel
@{
}
<!-- Contact Me
           ============================================= -->
<section id="contact" class="section bg-dark-2">
    <div class="container">
        @await Html.PartialAsync("_SectionHeading",new _SectionHeadingModel("Contact","Get in Touch"));
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">

                <div class="row justify-content-center">
                    <div class="col">
                        <h2 class="mb-3 text-5 text-white text-uppercase text-center text-md-start">Send us a note</h2>
                    </div>
                </div>
                <div class="row justify-content-center">

                    <form id="contact-form" class="form-dark" method="post">
                        <div class="row justify-content-center g-3" >
                            <div class="col-lg mb-3">
                                <input id="contact-name" name="Contact.Name" type="text" class="form-control" required placeholder="Name">
                            </div>
                            <div class="col-lg mb-3">
                                <input id="contact-email" name="Contact.Email" type="email" class="form-control" required placeholder="Email">
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col">
                                <textarea id="contact-message" name="Contact.Message" class="form-control" rows="5" required placeholder="Tell us more about your needs........"></textarea>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col">
                                <p class="text-center mt-4 mb-0">
                                    <button id="submit-btn" class="btn btn-primary rounded-pill d-inline-flex" type="submit">Send Message</button>
                                </p>
                            </div>
                        </div>
                    </form>

                </div>

                <div class="row justify-content-center">
                    <div class="col">
                        <h2 class="mb-3 text-5 text-white text-uppercase">Follow Me</h2>
                       @await Html.PartialAsync("_SocialIcons")
                    </div>

                </div>

            </div>       
                
        </div>
        
    </div>
</section>
<!-- Contact Me end -->