<!-- Footer
        ============================================= -->
<footer id="footer" class="section footer-dark bg-dark-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center text-lg-start">
                <p class="mb-3 mb-lg-0">Copyright © @DateTime.UtcNow.Year <a href="#" class="fw-500 blue" >Mark Carter</a>. All Rights Reserved.</p>
            </div>
           @* <div class="col-lg-6">
                <ul class="nav nav-separator nav-separator-light justify-content-center justify-content-lg-end">
                    <li class="nav-item"> <a class="nav-link" data-bs-toggle="modal" data-bs-target="#terms-policy" href="#">Terms & Policy</a></li>
                    <li class="nav-item"> <a class="nav-link" data-bs-toggle="modal" data-bs-target="#disclaimer" href="#">Disclaimer</a></li>
                </ul>
            </div>*@
        </div>
    </div>
</footer>
<!--Footer end-->
