@using MyPortfolio.Pages.Models;
@using MyPortfolio.Pages.Shared;
<!-- Portfolio
            ============================================= -->
<section id="portfolio" class="section bg-dark">
    <div class="container">
        @await Html.PartialAsync("_SectionHeading", new _SectionHeadingModel("Portfolio","My Work","blue","dark"))

        <!-- Filter Menu -->
        <ul class="portfolio-menu nav nav-tabs blue justify-content-center border-bottom-0 mb-5">
            <li class="nav-item"> <a data-filter="*" class="nav-link active blue" href="">All</a></li>
            <li class="nav-item"> <a data-filter="mywork" href="" class="nav-link blue">My Own Work</a></li>
            <li class="nav-item"> <a data-filter="collaboration" href="" class="nav-link blue">Collaborations I Led</a></li>
        </ul>
        <!-- Filter Menu end -->

        <div class="portfolio popup-ajax-gallery">
            <div class="portfolio-grid">

                @await Html.PartialAsync("_PortfolioProject"
                ,new _PortfolioProjectModel("whaddon-show"
                ,new PortfolioProject(
                "The Whaddon Show"
                ,"images/projects/whaddon-show-app.png"
                ,"4 amusing actors on stage in front of bright red curtain."
                ,"mywork"
                )
                , new PortfolioProjectOverlay(
                "The Whaddon Show App"

                ,new List<string>(){"A collaborative script writing, casting and show management application."
                ,"Currently used by 30 people."
                ,"Try it out!"
               
                }
                ,new List<string>(){"react","gap","html","css","javascript","gap","csharp","dotnet","gap","sql","mongo","gap","azure"}

                ,"_Project-WhaddonShow"
                )
                , "https://www.thewhaddonshow.org"
                ).AddSeeItInActionLink("https://www.thewhaddonshow.org")
                )

                @await Html.PartialAsync("_PortfolioProject"
                ,new _PortfolioProjectModel("care"
                ,new PortfolioProject(
                "Solutions in Care"
                ,"images/projects/esta.png"
                ,"Man with learning disability in wheelchair in front of bright yellow building."
                ,"collaboration"
                )
                , new PortfolioProjectOverlay(
                "Chester"
                ,new List<string>(){"An automated rota management & payroll app for 850+ staff providing care to people with Learning Disabilities."
                ,"Used extensively for last 10 years."}
                ,new List<string>(){"csharp","gap","sql","gap","excel-vba"}
                ,"_Project-Chester"
                )
                ).AddSeeMoreLink()
                )


                @await Html.PartialAsync("_PortfolioProject"
                ,new _PortfolioProjectModel("workflow"
                ,new PortfolioProject(
                "Workflow Solutions"
                ,"images/projects/workflow.png"
                ,"Aerial photo of cars going around a roundabout surrounded by bright green grass."
                ,"collaboration"
                )
                , new PortfolioProjectOverlay(
                "Hightown Workflow"

                ,new List<string>(){"An integration of 13 internal and 3rd party applications into a single in-house workflow monitoring solution."
                ,"Used extensively for last 8 years."}

                ,new List<string>(){"csharp","gap","sql","gap","excel-vba"}

                ,"_Project-HightownWorkflow"
                )
                ).AddSeeMoreLink()
                )

                @await Html.PartialAsync("_PortfolioProject"
                ,new _PortfolioProjectModel("development"
                ,new PortfolioProject(
                "Solutions in Housing Development"
                ,"images/projects/devapp.png"
                ,"Looking up at a tall block of flats with two cranes pointing into a bright blue sky."
                ,"collaboration"
                )
                , new PortfolioProjectOverlay(
                "DevApp"

                ,new List<string>(){"A tendering, project management and cashflow forecasting application for Housing Development."
                ,"Used to approve and monitor over £1.4 billion of expenditure over 9 years."}

                ,new List<string>(){"csharp","gap","sql","gap","excel-vba"}

                ,"_Project-DevApp"
                )
                ).AddSeeMoreLink()
                )

            </div>
            <div id="portfolio-modal" class="closed">
                
                <div id="project-detail-development" class="project-detail-container bg-light-1">
                    <div class="project-detail-title">
                        <h2>DevApp</h2>
                    </div>
                    <div class="project-detail-content">
                        <div class=" project-detail-description">
                            <h2>Brief</h2>
                            <p>ad jkfasjfkljsdfkl asdklfsad</p>
                            <h2>User</h2>
                            <p>A tendering, project management and cashflow forecasting application for Housing Development.</p>
                            <h2>Solution</h2>
                            <p>Used to approve and monitor over £1.4 billion of expenditure over 9 years.</p>
                            <h2>Adoption</h2>
                            <p>Used to approve and monitor over £1.4 billion of expenditure over 9 years.</p>
                            <h2>My Involvement</h2>
                            <p>Technologies used: C#, SQL, Excel VBA</p>
                        </div>
                        <div class="project-detail-box">
                            <img id="devapp-board-report" src="images/projects/devapp-board-report.png" />
                        </div>
                        <div class="project-detail-box">
                            <img id="devapp-summary" src="images/projects/devapp-summary.png" />
                        </div>

                    </div>
                    <div class="close-modal-on-click">
                        <div class="close-modal-on-click-icon"><h5><i class="fa fa-times"></i></h5></div>
                    </div>
                </div>
                
                <div id="project-detail-care" class="project-detail-container bg-light-1">
                    <div class="project-detail-title">
                        <h2>Chester - Rota management and Payroll Application.</h2>
                    </div>
                    <div class="project-detail-content">
                        <div class=" project-detail-description">
                            <h3>DevApp</h3>
                            <h2>Brief</h2>
                            <p>ad jkfasjfkljsdfkl asdklfsad</p>
                            <h2>User</h2>
                            <p>A tendering, project management and cashflow forecasting application for Housing Development.</p>
                            <h2>Solution</h2>
                            <p>Used to approve and monitor over £1.4 billion of expenditure over 9 years.</p>
                            <h2>Adoption</h2>
                            <p>Used to approve and monitor over £1.4 billion of expenditure over 9 years.</p>
                            <h2>My Involvement</h2>
                            <p>Technologies used: C#, SQL, Excel VBA</p>
                        </div>
                        <div class="project-detail-box">
                            <img id="chester-rota" src="images/projects/chester-rota.png" />
                        </div>
                        <div class="project-detail-box">
                            <img id="chester-dashboard" src="images/projects/chester-dashboard.png" />
                        </div>

                    </div>
                    <div class="close-modal-on-click">
                        <div class="close-modal-on-click-icon"><h5><i class="fa fa-times"></i></h5></div>
                    </div>
                </div>
                <div id="project-detail-workflow" class="project-detail-container bg-light-1">
                    <div class="project-detail-title">
                        <h2>Hightown Workflow - Rota management and Payroll Application.</h2>
                    </div>
                    <div class="project-detail-content">
                        <div class=" project-detail-description">
                            <h3>DevApp</h3>
                            <h2>Brief</h2>
                            <p>ad jkfasjfkljsdfkl asdklfsad</p>
                            <h2>User</h2>
                            <p>A tendering, project management and cashflow forecasting application for Housing Development.</p>
                            <h2>Solution</h2>
                            <p>Used to approve and monitor over £1.4 billion of expenditure over 9 years.</p>
                            <h2>Adoption</h2>
                            <p>Used to approve and monitor over £1.4 billion of expenditure over 9 years.</p>
                            <h2>My Involvement</h2>
                            <p>Technologies used: C#, SQL, Excel VBA</p>
                        </div>
                        <div id="workflow-snapshots">
                            <div class="project-detail-box">
                                <img id="workflow-diagram-tool" src="images/projects/workflow-diagram-tool.png" />
                            </div>
                            <div class="project-detail-box">
                                <img id="workflow-dashboard" src="images/projects/workflow-dashboard.png" />
                            </div>

                        </div>
                        
                    </div>
                    <div class="close-modal-on-click">
                        <div class="close-modal-on-click-icon"><h5><i class="fa fa-times"></i></h5></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Portfolio end -->
