@using MyPortfolio.Pages.Shared;
<!-- Skills
            ============================================= -->
<section id="skills" class="section bg-dark-2">
    <div class="container">

        @await Html.PartialAsync("_SectionHeading",new _SectionHeadingModel("Skills","What I do."))
        
        <div class="row">
            <div class="col-lg-11 mx-auto">
                <div class="row">
                    <div class="col-md-6">
                       @await Html.PartialAsync("_SkillBox",new _SkillBoxModel("people-arrows","I talk to people","to understand what they want."))
                    </div>
                    <div class="col-md-6">
                       @await Html.PartialAsync("_SkillBox",new _SkillBoxModel("file-code","I look at existing systems and data","to understand how they work."))
                    </div>
                    <div class="col-md-6">
                       @await Html.PartialAsync("_SkillBox",new _SkillBoxModel("laptop-code","I design new applications or improve existing ones","to solve problems efficiently and effectively."))
                    </div>
                    <div class="col-md-6">
                       @await Html.PartialAsync("_SkillBox",new _SkillBoxModel("keyboard","I code","using recognised coding patterns, unit testing and monitoring."))
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services end -->
